/* css reset */
*,
*::after,
*::before,
*:active,
*:focus,
*:hover {
  margin: 0;
  outline: none;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

:root {
  --dim-board: 600px;
  --pad-const: 30px;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #ffcdb2;
}
