.TicTacToe {
  margin: 50px auto;
  padding: var(--pad-const);
  width: calc(var(--dim-board) + 2 * var(--pad-const));
  /* height: calc(var(--dim-board) + 4 * var(--pad-const)); */

  border-radius: 20px;
  /* box-shadow: 3px 3px 1px #e5989b8e, 5px 5px 5px #6d6875; */
}
.heading {
  width: calc(var(--dim-board));
  margin-bottom: 10px;
  text-align: center;
  color: #6d6875;
}

.btn {
  padding: 0.75rem 1.25rem;
  border-radius: 2rem;
  margin: 0.1rem;
  background-color: #6d6875;
  color: #ffcdb2;
}
